<nav>
    <div class="site-title">
    <a href="/"></a>
    <h1>hello friends</h1>
    <p>hello everyone</p>
</div>
<ul>
    <li><a href="/">blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New blog</a></li>
</ul>
</nav>