<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
        <a href="/"></a>
        <h1>hello friends</h1></a>
        <p>hello everyone</p>
    </div>
    <ul>
        <li><a href="/">blogs</li>
        <li><a href="/about">About</li>
        <li><a href="/blogs/create">New blog</li>
    </ul>
    </nav>
<div class="not-found-content">
    <p>page not found</p>
</div>
</body>
</html>