    <%- include('./partials/head.ejs') %>

    <%- include('./partials/nav.ejs') %>

    <div class="blogs-content">
        <h2>About us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi sit facilis eligendi laboriosam corporis
            pariatur harum optio reprehenderit. Quibusdam exercitationem nihil consequuntur ipsam, odit dicta tenetur.
            Odio sequi adipisci ipsa!</p>
        <p>Dignissimos officia unde ut id. Suscipit, nisi placeat! In sint impedit ducimus excepturi accusamus numquam
            quam culpa, suscipit maxime doloremque recusandae fugit veritatis blanditiis labore. Dolores reprehenderit
            natus corrupti ipsam.</p>
        <p>Amet, rem consequatur. Nobis quo exercitationem amet accusantium, iusto omnis nostrum vitae consequatur
            assumenda, nisi delectus deserunt dolor culpa pariatur labore placeat nesciunt doloremque illo. Amet placeat
            praesentium nobis debitis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ut vero quisquam qui debitis explicabo,
            error voluptate consequatur libero eveniet velit aspernatur nihil quidem alias exercitationem. Facere
            deserunt veniam maxime.</p>
    </div>
    <%- include('./partials/footer.ejs') %>